# Kubernetes API server endpoint
kube_host = "https://localhost:6443"

# Kubernetes auth token
kube_token = "YOUR_K8S_TOKEN"

# Base64 encoded certificate for the Kubernetes cluster
kube_ca_cert = "YOUR_BASE64_ENCODED_CA_CERT"

# Base64 encoded client certificate for Kubernetes authentication
kube_client_cert = "YOUR_BASE64_ENCODED_CLIENT_CERT"

# Base64 encoded client key for Kubernetes authentication
kube_client_key = "YOUR_BASE64_ENCODED_CLIENT_KEY"

# Optional: KServe Helm chart version
kserve_chart_version = "0.11.2"

# Optional: KServe version
kserve_version = "v0.15.2"

# Optional: Name of the TLS certificate secret for the HTTPS listener
tls_certificate_name = "your-tls-certificate-name"
# If left empty, the HTTPS listener will be disabled